<div class="d-day area">
  <h2>D-51</h2>
</div>

<div class="rating-chart area">
  <h2>2017.03.17 대선 후보 지지도 (%)</h2>
  <article>
    <span class="left-button btn">&#8249;</span>
    <div id="chartdiv"></div>
    <span class="right-button btn">&#8250;</span>
  </article>
</div>

<div class="comment area">
  <h2>후보에게 질문하기</h2>
  <div class="input-area">
    <textarea class="form-control" rows="3" placeholder="질문을 입력하세요"></textarea>
    <button type="submit" class="btn btn-primary">등록</button>
  </div>
</div>
