
.comments h2 {
  margin-bottom: 60px;
}

.comments .input-area {
  width: 730px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 30px;
  border-radius: 5px;
  background-color: #F3F2F2;
}

.comments .input-area .login-btn {
  top: -23px;
  left: 575px;
  position: relative;
}

.comments .input-area strong {
  font-size: 12px;
}

.comments .input-area a#sign_in, a#sign_out {
  text-decoration: none;
  font-size: 12px;
  color: #4990E2;
}

.comments .input-area a#sign_in:hover, a#sign_out:hover {
  font-weight: bold;
}

.comments .input-area textarea {
  width: 100%;
  border-radius: 0;
  display: block;
  float: left;
  margin-top: 15px;
}

.comments .input-area span#counter {
  font-size: 11px;
  color: #3F3F3F;
  margin: 5px 5px 0px 0px;
  float: right;
}

.comments .input-area .btn {
  width: 50px;
  border: none;
  background-color: #4990E2;
  border-radius: 0;
  line-height: 1.6;
  font-size: 11px;
  padding: 4px 5px;
  float: right;
}

.comments .comment-list {
  width: 730px;
  margin: 0 auto;
}

.comments .comment-list .sort-group {
  height: 20px;
}

.comments .comment-list .sort {
  text-decoration: none;
  color: #7F7F7F;
  font-size: 13px;
  float: right;
  line-height: 13px;
  margin-left: 5px;
}

.comments .comment-list .sort.on {
  font-weight: bold;
  color: #3B3B3B;
}

.comments .comment-list .comment {
  padding: 10px 0 10px 0;
  border-top: 1px solid #E9E9E9;
}

.comments .comment-list ul {
  width: 730px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: inline-block;
  list-style-type: none;
}

.comments .comment-list img {
  width: 30px;
  float: left;
  margin-right: 10px;
}

.comments .comment-list span.writer {
  font-size: 13px;
  font-weight: bold;
}

.comments .comment-list span.selected-name {
  color: gray;
  font-size: 11px;
}

.comments .comment-list li.content {
  margin-top: 10px;
}

.comments .comment-list .comment-date-delete {
  font-size: 12px;
  color: gray;
}

.comments .comment-list a.thumbs {
  margin: 0px 5px;
  color: black;
  float: right;
}
