// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area {
  border-top: 1px solid #E9E9E9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.area h2 {
  text-align: center;
}

.d-day h2 {
  color: #D0011B;
  font-size: 40px;
}

.rating-chart h2 {
  font-size: 20px;
}

.rating-chart article {
  width: 572px;
  margin: 0 auto;
}

.rating-chart article .btn {
  font-size: 120px;
  color: gray;
}

.rating-chart article #chartdiv {
  width: 400px;
  height: 250px;
  margin: 25px;
  display: inline-block;
  vertical-align: middle;
}

.rating-chart article #chartdiv a {
  visibility: hidden;
}

.comments .input-area {
  width: 730px;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px 30px;
  border-radius: 5px;
  background-color: #F3F2F2;
}

.comments .input-area .login-btn {
  margin: 0 auto;
}

.comments .input-area strong {
  font-size: 12px;
}

.comments .input-area a#sign_in, a#sign_out {
  text-decoration: none;
  font-size: 12px;
  color: #4990E2;
}

.comments .input-area a#sign_in:hover, a#sign_out:hover {
  font-weight: bold;
}

.comments .input-area textarea {
  width: 600px;
  border-radius: 0;
  display: inline-block;
  float: left;
}

.comments .input-area .btn {
  // height: 54px;
  border: none;
  background-color: #4990E2;
  border-radius: 0;
  // padding: 8px 22px;
  // float: left;
}

.comments .comment-list {
  width: 730px;
  margin: 0 auto;
}

.comments .comment-list .comment {
  padding-top: 10px;
  border-top: 1px solid #E9E9E9;
}

.comments .comment-list img {
  width: 30px;
  float: left;
}

.comments .comment-list ul {
  width: 730px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: inline-block;
  list-style-type: none;
}

.comments .comment-list .comment {
  padding-bottom: 10px;
}

.comments .comment-list img {
  margin-right: 10px;
}

.comments .comment-list span.writer {
  font-size: 13px;
  font-weight: bold;
}

.comments .comment-list span.selected-name {
  color: gray;
  font-size: 11px;
}

.comments .comment-list li.content {
  margin-top: 10px;
}

.comments .comment-list .comment-date-delete {
  font-size: 12px;
  color: gray;
}

.comments .comment-list a.thumbs {
  margin: 0px 5px;
  color: black;
  float: right;
}
