<!DOCTYPE html>
<html>
  <head>
    <title>President</title>
    <%= csrf_meta_tags %>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '403383773360454',
          xfbml      : true,
          version    : 'v2.8'
        });
        // FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    </script>

    <h1 class="title"><a href="/">대선주자에게 묻는다</a></h1>
    <nav class="menu">
      <ul>
        <li><a class="menu-link" href="/">후보에게 질문하기</a></li>
        <li><a class="menu-link" href="/profiles">대선 후보</a></li>
        <li><a class="menu-link" href="#">후보 검증</a></li>
        <li><a class="menu-link" href="#">정책 비교</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
